* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    background-color: #5A92E4;
}

#panel {
    left: -100vw;
    top: 0;
    position: fixed;
    width: 100vw;
    background-color: #5A92E4;
    height: 100vh;
    z-index: 9999;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #eef2fc;
    position: fixed;
    height: 60px;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    z-index: 10;
}

#logo {
    height: 50px;
    margin-left: 1.5vw;
    align-self: center;
}


#safety {
    align-self: center;
    color: #5A92E4;
    font-size: 1.5rem;
    font-weight: 600;
}

#menu {
    display: inline-block;
    padding-right: 4vw;
    align-self: center;
    text-decoration: none;
    color: #5A92E4;
    font-size: 1rem;
    font-weight: 200;
    text-shadow: 1px 1px 0 #000;
}

#menu:hover {
    cursor: pointer;
    text-shadow:
    1px 1px #0003a7,
    1px 1px #0003a7,
    1px 1px #0003a7;
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
}

main {
    position: relative;
    background-color: #5A92E4;
    top: 80px;
    margin: 0;
    padding-bottom: 100px;
    color: white;
}

#text, #title {
    margin: 0 5vw 0 5vw;
}

#title {
    padding: 30px 0 30px 0;
    font-size: 4vw;
}

#text > img {
    float: left;
    width: 35vw;
    margin: 0 25px 10px 0;
}

#text > p {
    font-size: 1.5rem;
}

ol {
    font-size: 1.5rem;
    margin-left: 20px;
}

@media (max-width: 600px) {

#menu {
    font-size: 0.9rem;
}

#safety {
text-align: center;
}

#title {
    font-size: 3rem;
}

#text > p {
    font-size: 1.3rem;
}

ol {
    font-size: 1.3rem;
    margin-left: 20px;
}

#text > img {
    width: 90vw;
    margin-bottom: 15px;
}

}